<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/error510.css'>
    </head>
    <body>
        <h1>Warning!</h1>
        <h2> <%= message %></h2>
        <h3><%= error.status %></h3>
        <pre><%= error.stack %></pre>
    </body>
</html>