<header>
    <div class="logo">
        <!-- LOGO -->
        <img src=<%= urlLogo %> alt="LOGO">
    </div>
    <ul>
        <li><a href="/page"><%= about %></a></li>
        <li><a href="/page"><%= team %></a></li>
        <li><a href="/page"><%= products %></a></li>
    </ul>
</header>