<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/error500.css'>
    </head>
    <body>
        <h1>This page says - <%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </body>
</html>
