<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Search Address<%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        <link rel='stylesheet' href='stylesheets/styleSearchAddress.css'>
    </head>
    <body>
        <div class='lastChoice'></div>
        <form method='POST' action='/searchAddress'>
            <input type='text' name='inputAddress'>
            <button type='submit'>send</button>
        </form>
        <div class='respFromGoogle'></div>
        <div class='userChoice'></div>
    </body>
</html>