<!Doctipe HTML>
<html>
    <head>
        <title><%= title%></title>
        <linK rel="stylesheet" href="public/stylesheets/article.css">
    </head>
    <body>
        <h1><%= arHeader %></h1>
        <p><%= arText %></p>
    </body>
</html>